<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>PatientController2</display-name>
    <servlet-name>PatientController2</servlet-name>
    <servlet-class>govclinic.controller.PatientController2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatientController2</servlet-name>
    <url-pattern>/PatientController2</url-pattern>
  </servlet-mapping>
  <display-name>GovHealthClinic</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>PatientController</display-name>
    <servlet-name>PatientController</servlet-name>
    <servlet-class>govclinic.controller.PatientController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatientController</servlet-name>
    <url-pattern>/PatientController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StaffController</display-name>
    <servlet-name>StaffController</servlet-name>
    <servlet-class>govclinic.controller.StaffController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StaffController</servlet-name>
    <url-pattern>/StaffController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePatientController</display-name>
    <servlet-name>UpdatePatientController</servlet-name>
    <servlet-class>govclinic.controller.UpdatePatientController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePatientController</servlet-name>
    <url-pattern>/UpdatePatientController</url-pattern>
  </servlet-mapping>
  <servlet>
  	<display-name>UpdatePatientController2</display-name>
  	<servlet-name>UpdatePatientController2</servlet-name>
  	<servlet-class>govclinic.controller.UpdatePatientController2</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>UpdatePatientController2</servlet-name>
  	<url-pattern>/UpdatePatientController2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updatePatientController</display-name>
    <servlet-name>updatePatientController</servlet-name>
    <servlet-class>govclinic.controller.updatePatientController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updatePatientController</servlet-name>
    <url-pattern>/updatePatientController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateStaffController</display-name>
    <servlet-name>UpdateStaffController</servlet-name>
    <servlet-class>govclinic.controller.UpdateStaffController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStaffController</servlet-name>
    <url-pattern>/UpdateStaffController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PatientLoginController</display-name>
    <servlet-name>PatientLoginController</servlet-name>
    <servlet-class>govclinic.controller.PatientLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatientLoginController</servlet-name>
    <url-pattern>/PatientLoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AppointmentController</display-name>
    <servlet-name>AppointmentController</servlet-name>
    <servlet-class>govclinic.controller.AppointmentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AppointmentController</servlet-name>
    <url-pattern>/AppointmentController</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>AppointmentController2</servlet-name>
  	<servlet-class>govclinic.controller.AppointmentController2</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>UpdateAppController</display-name>
    <servlet-name>UpdateAppController</servlet-name>
    <servlet-class>govclinic.controller.UpdateAppController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAppController</servlet-name>
    <url-pattern>/UpdateAppController</url-pattern>
  </servlet-mapping>
  <servlet>
  	
  	<display-name>UpdateAppController2</display-name><servlet-name>UpdateAppController2</servlet-name>
  	<servlet-class>govclinic.controller.UpdateAppController2</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>UpdateAppController2</servlet-name>
  	<url-pattern>/UpdateAppController2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteMedicine</display-name>
    <servlet-name>deleteMedicine</servlet-name>
    <servlet-class>govclinic.controller.deleteMedicine</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteMedicine</servlet-name>
    <url-pattern>/deleteMedicine</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>editMedicine</display-name>
    <servlet-name>editMedicine</servlet-name>
    <servlet-class>govclinic.controller.editMedicine</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editMedicine</servlet-name>
    <url-pattern>/editMedicine</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>listMedicine</display-name>
    <servlet-name>listMedicine</servlet-name>
    <servlet-class>govclinic.controller.listMedicine</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listMedicine</servlet-name>
    <url-pattern>/listMedicine</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>medicineController</display-name>
    <servlet-name>medicineController</servlet-name>
    <servlet-class>govclinic.controller.medicineController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>medicineController</servlet-name>
    <url-pattern>/medicineController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewController</display-name>
    <servlet-name>viewController</servlet-name>
    <servlet-class>govclinic.controller.viewController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewController</servlet-name>
    <url-pattern>/viewController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewMedicine</display-name>
    <servlet-name>viewMedicine</servlet-name>
    <servlet-class>govclinic.controller.viewMedicine</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewMedicine</servlet-name>
    <url-pattern>/viewMedicine</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StaffLoginController</display-name>
    <servlet-name>StaffLoginController</servlet-name>
    <servlet-class>govclinic.controller.StaffLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StaffLoginController</servlet-name>
    <url-pattern>/StaffLoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoctorLoginController</display-name>
    <servlet-name>DoctorLoginController</servlet-name>
    <servlet-class>govclinic.controller.DoctorLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoctorLoginController</servlet-name>
    <url-pattern>/DoctorLoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>patientAtStaff</display-name>
    <servlet-name>patientAtStaff</servlet-name>
    <servlet-class>govclinic.controller.patientAtStaff</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>patientAtStaff</servlet-name>
    <url-pattern>/patientAtStaff</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePatientAtStaff</display-name>
    <servlet-name>UpdatePatientAtStaff</servlet-name>
    <servlet-class>govclinic.controller.UpdatePatientAtStaff</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePatientAtStaff</servlet-name>
    <url-pattern>/UpdatePatientAtStaff</url-pattern>
  </servlet-mapping>
</web-app>